<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color:white ;"></ion-menu-button>
    </ion-buttons>

    <ion-title style="background-color: #472c8a;color: white;">Payaza Fast </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-top:70px;">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title style="font-weight: bold; margin:20px;color:#472c8a;"
            >Photo Attach</ion-card-title
          >
          <ion-row style="margin-top:20px;">
            <ion-col>
              <ion-item class="color-content">
                <ion-label>Upload Your Picture</ion-label>
                <input type="file" name="fileToUpload" id="fileToUpload" />
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top:20px;">
      <ion-col>
        <ion-button class="btn-color" expand="block" (click)="loan_amount()">Next</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

